[submodule "dot_config/spaceship-prompt"]
	path = dot_config/spaceship-prompt
	url = https://github.com/spaceship-prompt/spaceship-prompt.git
[submodule "dot_config/zsh-syntax-highlighting"]
	path = dot_config/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "dot_config/alacritty/catppuccin-themes"]
	path = dot_config/alacritty/catppuccin-themes
	url = https://github.com/catppuccin/alacritty.git
